<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_data['RefreshDelay'] > 0 %}
        <meta http-equiv="refresh" content="{{page_data['RefreshDelay']}}">
    {% endif %}
    <title>{{page_data['DeviceName']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div>
        <h1>{{page_data['DeviceName']}}</h1>

        <!-- Navigation Buttons -->
        <div>
            <a href="{{ url_for('views.home', key=page_data['AccessKey']) }}" 
               class="button">
               Home
            </a>
            {% if page_data['NextIndex'] is not none %}
                <a href="{{ url_for('views.summary', state_idx=page_data['NextIndex'], key=page_data['AccessKey']) }}" 
                class="button">
                Go to {{ page_data['NextDeviceName'] }} >>>
                </a>
            {% endif %}
        </div>

        <table>
            <thead>
                <tr>    <!-- Add a row with the periods -->
                    <th rowspan="2">Metered Output</th>
                    {% for period in page_data['Totals'] %}
                        <th colspan="2">{{ period['PeriodAndDate'] }}</th>
                    {% endfor %}
                </tr>
                <tr>    <!-- Add a row with the sub-headings -->
                    {% for period in page_data['Totals'] %}
                        <th>Energy</th>
                        <th>Cost</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- List the energy usage for each metered output -->
                {% for meter in page_data['Meters'] %}
                    <tr>
                        <td>{{ meter['Name'] }}</td>
                        {% for period in meter['Usage'] %}
                            <td>{{ period['EnergyUsedStr'] }}</td>
                            <td>{{ period['CostStr'] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <!-- Row for Other usage  -->
                <tr>
                    <td>Unmetered Usage</td>
                    {% for period in page_data['Totals'] %}
                        <td>{{ period['OtherEnergyUsedStr'] }}</td>
                        <td>{{ period['OtherCostStr'] }}</td>
                    {% endfor %}
                </tr>

                <!-- Add total row -->
                <tr>
                    <th>Totals</th>
                    {% for period in page_data['Totals'] %}
                        <th>{{ period['GlobalEnergyUsedStr'] }}</th>
                        <th>{{ period['GlobalCostStr'] }}</th>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        
    </div>
    <script 
        type="text/javascript" 
        src="{{ url_for('static', filename='index.js') }}"
    ></script>
</body>
</html>