<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_data['RefreshDelay'] > 0 %}
        <meta http-equiv="refresh" content="{{page_data['RefreshDelay']}}">
    {% endif %}
    <title>Status summary for {{page_data['DeviceName']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div>
        <h1>Status summary for {{page_data['DeviceName']}}</h1>
        <p>Status as at {{ page_data['TimeNow'] }}: {{ page_data['LastStatusMessage'] }}</p>

        <!-- Navigation Buttons -->
        <div class="responsive full">
            <a href="{{ url_for('views.home', key=page_data['AccessKey']) }}" 
               class="button">
               Home
            </a>
            {% if page_data['NextIndex'] is not none %}
                <a href="{{ url_for('views.summary', state_idx=page_data['NextIndex'], key=page_data['AccessKey']) }}" 
                class="button">
                Go to {{ page_data['NextDeviceName'] }} >>>
                </a>
            {% endif %}
            {% if page_data['HaveEvents'] %}
                <a href="{{ url_for('views.day_detail', state_idx=page_data['CurrentIndex'], day=0, key=page_data['AccessKey']) }}" 
                class="button">
                View {{page_data['DeviceName']}} Daily Events
                </a>
            {% endif %}            
        </div>

        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Device</td><td>{{ page_data['DeviceName'] }}</td>
                </tr>
                <tr>
                    <td>Last Check</td><td>{{ page_data['LastCheck'] }}</td>
                </tr>
                <tr>
                    <td>Dusk Today</td><td>{{ page_data['DuskTime'] }}</td>
                </tr>
                <tr>
                    <td>Dawn Today</td><td>{{ page_data['DawnTime'] }}</td>
                </tr>

                {% if page_data['HaveSwitchStates'] %}
                <tr>
                    <td>Switch States</td>
                    <td>
                        <!-- Switch states: Table for full width display -->
                        <table class="info_table full">
                            <thead>
                                <tr>
                                    <th>Switch Name</th>
                                    <th>Schedule</th>
                                    <th>Input</th>
                                    <th>Input State</th>
                                    <th>Light</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for switch in page_data['SwitchStates'] %}
                                    <tr>
                                        <td>{{ switch['Switch'] }}</td>
                                        <td>{{ switch['Schedule'] }}</td>
                                        <td>{{ switch['Input'] }}</td>
                                        <td>  <!-- Input State -->
                                            {% if switch['InputState'] %} 
                                                {% if switch['InputState'] == 'ON' %} 
                                                    <span class="circle green-circle"></span>
                                                {% else %}
                                                    <span class="circle black-circle"></span>
                                                {% endif %}   
                                            {% else %}
                                                <span>&nbsp;</span>
                                            {% endif %}   
                                        </td>
                                        <td>  <!-- Output State -->
                                            {% if switch['OutputState'] == 'ON' %} 
                                                <span class="circle green-circle"></span>
                                            {% else %}
                                                <span class="circle black-circle"></span>
                                            {% endif %}   
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>

                        <!-- Switch states: Table for mobile display display -->
                        <table class="info_table compact">
                            <thead>
                                <tr>
                                    <th>Switch Name</th>
                                    <th>Light</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for switch in page_data['SwitchStates'] %}
                                    <tr>
                                        <td>{{ switch['Switch'] }}</td>
                                        <td>  <!-- Output State -->
                                            {% if switch['OutputState'] == 'ON' %} 
                                                <span class="circle green-circle"></span>
                                            {% else %}
                                                <span class="circle black-circle"></span>
                                            {% endif %}   
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>


                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% for schedule in page_data['Schedules'] %}
            <div>
                <h2>Schedule: {{ schedule['Name'] }}</h2>
                <table>
                    <!-- Each event in the schedule is represented by a columnin the table. Start with the event number. -->
                    <thead>
                        <tr>
                            <th>Setting</th>
                            {% for event in schedule['Events'] %}
                                <th>Event {{ loop.index }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- On time -->
                        <tr>
                            <td>Time On: </td>
                            {% for event in schedule['Events'] %}
                                <td>
                                    {{ event['TurnOn'] }} 
                                    {% if event.get('RandomOffset', 0) > 0 %}
                                        &nbsp;±{{ event.get('RandomOffset', 0) }}&nbsp;mins.
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        <!-- Off time -->
                        <tr>
                            <td>Time Off: </td>
                            {% for event in schedule['Events'] %}
                                <td>
                                    {{ event['TurnOff'] }} 
                                    {% if event.get('RandomOffset', 0) > 0 %}
                                        &nbsp;±{{ event.get('RandomOffset', 0) }}&nbsp;mins.
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        <!-- Days of week - itterate through the DaysEnabled list in the Event-->
                        <tr>
                            <td>Days of week: </td>
                            {% for event in schedule['Events'] %}
                                <td>
                                    {% for day in event['DaysEnabled'] %}
                                        {{ '✓' if day['Enabled'] else '✗' }}&nbsp;{{ day['Day'][0] }}&nbsp;&nbsp;
                                    {% endfor %}

                                </td>
                            {% endfor %}
                        </tr>       
                        <!-- DatesOff - list the dates if this key exist -->
                        <tr>
                            <td>Dates to stay off: </td>
                            {% for event in schedule['Events'] %}
                                <td>
                                    {% if event.get('DatesOff') %}
                                        {% for date_range in event['DatesOff'] %}
                                            &#8226; {{ date_range['StartDateAU'] }}&nbsp;&nbsp;to&nbsp;&nbsp;{{ date_range['EndDateAU'] }}<br>
                                        {% endfor %}
                                    {% else %}
                                        None
                                    {% endif %}                                        
                                </td>
                            {% endfor %}
                        </tr>       



                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    <script 
        type="text/javascript" 
        src="{{ url_for('static', filename='index.js') }}"
    ></script>
</body>
</html>