<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_data['RefreshDelay'] > 0 %}
        <meta http-equiv="refresh" content="{{page_data['RefreshDelay']}}">
    {% endif %}
    <title>{{page_data['DeviceName']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div>        
        <!-- List of temp probes. List each probe across the page -->
        <div>
            <!-- Table for full width display -->
            <table class="info_table full">
                <tbody>
                    <tr class="info_tr">
                        {% for device in page_data['TempProbes'] %}
                            <td class="info_td"> 
                                <span class="info_text_name">{{ device['Name'] }}</span>
                                {% if device['HaveTemperature'] %}
                                    <span class="info_text_time"> ({{ device['LastReadingTime'] }})</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr class="info_tr">
                        {% for device in page_data['TempProbes'] %}
                            {% if device['HaveTemperature'] %}
                                <td class="info_td"> 
                                    <span class="info_text_temp">{{ device['TemperatureInteger'] }}</span>
                                    <span class="info_text_temp_decimal">.{{ device['TemperatureDecimal'] }}</span>
                                    <span class="info_text_temp_unit">°C</span>
                                </td>
                            {% else %}
                                <td class="info_td"> 
                                    <span class="info_text_temp_na">N/A</span>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <!-- Display each temp probe chart (if any) -->
                    {% if page_data['TempProbeCharts'] %}
                        {% for chart in page_data['TempProbeCharts'] %}
                            <tr class="info_tr">
                                <td class="info_td_chart" colspan="{{ page_data['TempProbes']|length }}">
                                    <img 
                                        src="{{ url_for('static', filename=chart) }}" 
                                        alt="Temperature Probe Chart" 
                                        class="temp_probe_chart"
                                    >
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <!-- Display the current state of each Shelly output device -->
            <table class="output_table">
                <tbody>
                    {% if page_data['ShellyDevices'] %}
                        <tr>
                            {% for device in page_data['ShellyDevices'] %}
                                <td class="info_td_right">
                                    {{ device['Name'] }}
                                </td>
                                <td class="info_td_left">
                                    {% if device['IsOn'] %} 
                                        <span class="circle green-circle"></span>
                                    {% else %}
                                        <span class="circle black-circle"></span>
                                    {% endif %}
                                </td>                                
                            {% endfor %}
                        </tr>
                    {% endif %}
            </tbody>
            </table>

            <!-- Table for mobile display -->
            <table class="info_table compact">
                <tbody>
                    {% for device in page_data['TempProbes'] %}
                        <tr>
                            <td class="info_td_mobile"> 
                                <span class="info_text_name">{{ device['Name'] }}</span>
                                {% if device['HaveTemperature'] %}
                                    <span class="info_text_time"> ({{ device['LastLoggedTime'] }})</span>
                                {% endif %}
                            </td>
                            <td class="info_td_mobile"> 
                                {% if device['HaveTemperature'] %}
                                    <span class="info_text_temp">{{ device['Temperature'] }}</span>
                                    <span class="info_text_temp_unit">&nbsp;°C</span>
                                {% else %}
                                    <span class="info_text_temp_na">N/A</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>

        
    </div>
    <!-- Navigation Buttons -->
    <div>
        <a href="{{ url_for('views.home', key=page_data['AccessKey']) }}" 
            class="button">
            Home
        </a>
        {% if page_data['NextIndex'] is not none %}
            <a href="{{ url_for('views.summary', state_idx=page_data['NextIndex'], key=page_data['AccessKey']) }}" 
            class="button">
            Go to {{ page_data['NextDeviceName'] }} >>>
            </a>
        {% endif %}
        <span style="margin-left: 20px; font-size: 1.7rem">{{ page_data['CurrentTime'] }}</span>
    </div>    
    <div class="footer_text" style="margin-top: 10px;">
        Last updated {{ page_data['LastCheck'] }}
    </div>
    <script 
        type="text/javascript" 
        src="{{ url_for('static', filename='index.js') }}"
    ></script>
</body>
</html>